<% content_for :title, "NEET" %>
<% content_for :description, "Neet Providing All india Educations Updates, Notifications, Time tables, Results, Online test and much more. Neet gov is providing genuine and fast updates like manabadi, schools9 and india results ."%>
<% content_for :keywords, "Neet #{Time.now.year}, free online bits, sbtet, manabadi, schools9, 10th results, neet results, neet updates, jobs"%>
<% content_for :time, "2017-05-06T14:50:00+05:30" %>

 <div class="container text-justify" style="padding-left:13%;padding-right:13%;">

 <div class="panel" style="padding-left: 8%; padding-right: 8%; padding-top:5%; padding-bottom: 5%">

   


</div>
</div>