<% content_for :title, "ECET SYLLABUS WEIGHTAGE MARKS TIPS" %>
<% content_for :description, "ECET SYLLABUS WEIGHTAGE MARKS TIPS"%>
<% content_for :time, "2017-05-06T14:50:00+05:30" %>
<style>

div.double {border-style: double;}
</style>

<div class="container double">

<br>
<div class="social-share">
    <h4>Share on</h4>
    
            <a class="btn btn-info" href="https://twitter.com/intent/tweet?text=http://www.neetgov.in/ap-apsbtet-results" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-twitter"></i><span> Twitter</span></a>
       
            <a class="btn btn-success" href="https://www.facebook.com/sharer/sharer.php?u=http://www.neetgov.in/ecet-syllabus-weightage-marks-tips& t=Tips for Ecet 2017 Examination" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-facebook"></i><span> Facebook</span></a>

            <a class="btn btn-danger" href="https://plus.google.com/share?url=http://www.neetgov.in/ecet-syllabus-weightage-marks-tips"  class="google-plus" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-google-plus"></i><span> Google+</span></a>

            <a class="btn btn-success" href="whatsapp://send?text=http://www.neetgov.in/ecet-syllabus-weightage-marks-tips" class="whatsapp" title="Share on WhatsApp" data-action="share/whatsapp/share" target='_blank'><i class="fa fa-whatsapp"></i><span> Whatsapp</span></a>
</div><!-- /.social-share -->
<br>

	
  <div class="text-justify">
  <div class="text-center" '><br>
<h3><a href='http://www.neetgov.in/users/sign_up'>ECET 2017 ONLINE MOCK TEST REGISTRATIONS CLICK HERE</a><a href='https://1.bp.blogspot.com/-kuTiNgzcalM/VEZ2z310L5I/AAAAAAAAAGM/wHucEgI8Uc8IfVsO_xvDb_gm0mGS58swQCPcB/s1600/new.gif' imageanchor='1' style='margin-left: 1em; margin-right: 1em;'><img border='0' src='https://1.bp.blogspot.com/-kuTiNgzcalM/VEZ2z310L5I/AAAAAAAAAGM/wHucEgI8Uc8IfVsO_xvDb_gm0mGS58swQCPcB/s1600/new.gif'/></a></h3></div>
<div class=" text-center">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:100px'></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
<br>
 	<h1 class="text-center text-success">Tips for Ecet 2017 Examination</h1>

 <h2 class="text-success"><u>Here we are providing some simple tips for Ecet examination:-</u></h2>

<b>• For core subjects:
<ol>
<li> Learn all kind of formulas which was related to the mathematical functions (will be useful for to solve problems, author belonging, and formula based questions etc…)</li>

<li>Learn all kind of definitions as per topic wise (will be useful for statements, matching, authors, and blank statements etc….)</li>

<li>Practice programs (CSE/IT Students)</li>

<li>Follow the syllabus and weightage as per given below</li>

 <li>Practicing as per this you can get 80% best of results</li>

 <li>As well as M.P.C (Mathematics, Physics & Chemistry) common to all respective departments.</li>
</ol>

</b>
<br>
<b><h2 class="text-center text-success">CIVIL ENGINEERING</h2>
 ANNEXURE I<br> 
STRENGTH OF MATERIALS </b>
<p><b>UNIT:1</b> Simple stresses and strains-curves for ductile materials-Mechanical properties of materials-Hooke’s law-lateral strain-Poisson’s ratio-Elastic constants and the relation between them-Composite sections-Resilience-Strain energy-Gradual and sudden loading-Shear force and Bending Moment Diagrams for cantilever, Simply supported, fixed, continuous and overhanging beams subjected to Point loads and UDL.<br>
<b>UNIT:2</b> Theory of simple bending-assumptions-bending equation-bending stresses-Section Modulus-Shear stress distribution across various sections like rectangular, circular and I-sections-Torsion-solid and hollow circular shafts.</p>
<b>THEORY OF STRUCTURES:</b>
<p><b>UNIT:3</b> Deflection of cantilevers and simply supported beams-Double Integration and Macaulay’s methods-Mohr’s theorems for slope and deflections-calculation for propped cantilevers subjected to simple loading-Analysis of Fixed and Continuous beams of uniform section for simple loading without sinking of supports. Columns and struts-types-slenderness ratio- Euler’s and Rankine’s formulae for axial loading. Determination of forces in members of statically determinate, plane and pin-jointed trusses for dead loads only. Dams and retaining walls-conditions for stability-middle third rule-Rankine’s formula for active earth pressure.</p>
<b>REINFORCED CONCRETE STRUCTURES:</b>
<p><b>UNIT:4</b> Grades of concrete, characteristic strength, Modulus of Elasticity-I.S. 456 -2000-Philosophy of Limit state design. Limit state of Strength and Serviceability, partial safety factor-design strength of materials and design loads-assumptions. 
Analysis and Limit state design of rectangular beams-Singly, Doubly reinforced and T-beams. Shear in RCC beams, lintels and sunshades-Development length.<br>
Slabs-analysis and limit state design of one-way and two-way slabs as per IS.456-2000. Torsion reinforcement. Design of continuous slabs and beams-Deflection check for Slabs and beams. Detailing of reinforcement in Singly reinforced and doubly reinforced simply supported beams of rectangular sections and lintels, one way and two way slabs.<br>
<b>UNIT:5</b> Columns: Codal provisions of I.S 456-2000-short and long columns-different shapes-design of short columns by limit state method-long columns- concept, effective length for different end conditions. Footings-Isolated column footings-one way shear and two way shear. Stairs-types, loads on stairs.<br>
Working stress method of design: Basic principles, neutral axis, lever arm-Design and analysis of Singly reinforced simply supported rectangular beams. Comparison of Limit state and Working stress methods.</p>
<b>SURVEYING:</b>
<p><b>UNIT:6</b> Chain surveying- purpose and principle- errors and corrections- different operations in chain surveying- obstacles – methods of calculation of area. Compass Surveying- purpose and principle- bearings- traversing using prismatic compass- local attraction- errors. Levelling- definitions- component parts- errors- classification of levelling- contouring- characteristics and methods. Theodolite- principles and component parts- fundamental lines and relationship among them- adjustments of theodolite- measurement of horizontal and vertical angles- errors- traverse computations- bowditch and transit rule. Tacheometry- principle- stadia tacheometry- tangential tacheometry, Principle and uses of E.D.M, Electronic Theodolite, Total Station, Global positioning System – Importance, G.I.S – Use and applications in Civil Engineering</p>
<b>HYDRAULICS:</b>
<p><b>UNIT:7</b> Fluid properties-specific weight –mass density-specific gravity-surface tension-capillarity-viscosity. Atmospheric pressure, gauge pressure and absolute pressure. Fluid pressure on plane surfaces-Centre of pressure, measurement of fluid pressure using piezometer and manometers. Types of flows-uniform, non uniform, steady, un steady, laminar and turbulent flows. Energies of liquid in motion-continuity equation. Bernoulli’s theorem-Pitot tube-Venturimeter. Flow thorough small and large orifices, free orifices, submerged orifices, co-efficients of orifices-Cc, Cv and Cd. Flow through internal, external, convergent and divergent mouthpieces. Types of Notches-rectangular and triangular, flow over notches. Types of Weirs-sharp crested and broad crested-mathematical formulae for discharge-Franci’s and Bazin’s.<br>
<b>UNIT:8</b> Flow through pipes-major and minor losses-Chezy’s and Darcy’s formulae for loss of head due to friction-HGL & TEL- flow through siphon pipes. Reynold’s number for laminar and turbulent flows. Flow through open channels-rectangular and trapezoidal-chezy’s formula for discharge-Kutter’s and Manning’s equation for Chezy’s constants-Most economical sections. Centrifugal pumps without problems. Classification of Turbines-Kaplan, Franci’s and Pelton wheel without problems-use of Draft tube. Hydro-electrical installations-components and uses.</p>
<b>IRRIGATION ENGINEERING:</b><br>
<b>UNIT:9</b> Necessity of Irrigations - Perinnial and inundation Irrigation , Flow and Lift Irrigation, Principal crops-kharif and rabi seasons-Duty, delta and base period. Methods of Irrigation-check flooding, basin flooding, contour bunding, furrow, sprinkler and drip Irrigations. Hydrology – Rainfall , types of Rain gauges, types of catchments-rainfall and runoff. Measurement of velocity of flow in streams-Ryve’s and Dicken’s formulae for computing maximum flood discharge. Classifications of Head works-component parts of diversion head works. Weirs and Barrages. Perculation and uplift pressures.Types of Reservoirs-dead storage, live storage and surcharge storage.<br>
<b>UNIT: 10</b> Storage Head works-different types of dams-rigid and non rigid dams- gravity dams-low and high dams. Elementary profile of a dam. Failures of gravity dams-drainage galleries. Ogee and siphon spillways. Earth dams— types, failures and precautions. Phreatic lines and drainage arrangements in earthen dams. Distribution works-classifications and alignment of canals-typical cross section of a canal-berm and balanced depth of cutting- canal lining. Lacey’s silt theory. Cross drainage works –types and functions.<br>
<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="8409268847"
                     data-ad-format="link"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

<br>
<b>ANNEXURE II<br>
Number of Questions to be set</b>
<table class="table table-bordered table-hover">
<tr>
	<th>CIVIL ENGINEERING UNIT NO</th>
	<th>TOPICS</th>
	<th>MARKS</th>
</tr>

<tr>
	<td>I & II </td>
	<td>Strength of Materials</td>
	<td>20</td>
</tr>


<tr>
	<td>III</td>
	<td>Theory of Structures</td>
	<td>20</td>
</tr>


<tr>
	<td>IV & V</td>
	<td>Reinforced Concrete Structures</td>
	<td>20</td>
</tr>


<tr>
	<td>VI</td>
	<td>Surveying</td>
	<td>15</td>
</tr>


<tr>
	<td>VII & VIII</td>
	<td>Hydraulics</td>
	<td>15</td>
</tr>


<tr>
	<td>IX & X </td>
	<td>Irrigation Engineering</td>
	<td>10</td>
</tr>
<tr>
	<td colspan="2">Total</td>
	<td class="text-danger">100</td>
</tr>

</table>
<br>
<b><h2 class="text-center text-success">MECHANICAL ENGINEERING</h2>
 ANNEXURE I<br></b>
<p><b>Unit I: Workshop Technology</b><br>Basic Workshop tools and Operations (carpentry, fitting and sheet metal) Metrology – liner, angular and surface measurement – comparators, Transducers (Mechanical, Resistance and Capacitive). 
Working and operations of lathe, Drilling, Shaper, slotter, Planner, milling machines – Capstan and turret lathes – copying lathes – surface finishing operations – Honing, lapping, super finishing, electro plating, metal spraying. 
Basic components of NC, CNC, and DNC machines – FMS and robotics, CNC part programming- Manual and Computer assisted<br>
<b>Unit II: Welding, Forging, Foundry and Conventions in drawing</b><br>
Equipment used in arc and gas welding. Modern welding methods – Submerged arc, atomic, hydrogen, CO2, and ultrasonic welding. Forging processes and tools - Cold and hot working processes. Pattern types – types of molding sand and their properties - Defects in casting and welding. Conventions in machine drawing – production drawing – limits, fits & Tolerances – surface finish – Specifications of standard components like Bolts, Nuts, Bearings etc. <br>
<b>Unit III: Engineering Materials, and Solid Mechanics</b><br>
Mechanical properties of materials – Destructive and Non destructive testing of materials, Production of Iron and Steel – Iron Carbon equilibrium Diagram - Heat treatment processes – Plain Carbon and alloy steels – Ferrous and Non ferrous metals and alloys – Powder metallurgy . 
Resolution of Forces, Simple Machines, Simple stresses and strains – Shear force and bending moment diagrams – Strain energy – Deflection of beams, Thin Cylindrical Shells, Springs.<br>

<b>Unit IV: Design of Machine Elements</b><br>
Belt, rope and chain drives – Velocity ratio, Belt tensions and centrifugal tension – Effect of belt thickness – Slip, lengths of open and cross belting – Power transmitted by belt, Simple, Compound, and epicyclic gear trains – Roller and Silent chains – Design of – Bolts, Nuts and Screws - Shafts, Keys, Couplings –Cams, Flywheels and Governors,Rivetted Joints-Welded Joints.<br>

<b>Unit V: Thermodynamics</b><br>
Laws of Perfect gases and Basic thermodynamics, Thermodynamic processes, Air standard Cycles, fuels and combustion, I.C Engines - two and four stroke engines – Petrol and Diesel engines, Indicated and brake powers, Indicated and brake thermal efficiencies, Air Compressors, Gas turbines and Jet propulsion.<br>
<b>Unit VI: Hydraulic Machines and Pneumatics</b><br>
Properties of Fluids , Flow through pipes, Impact of Jets, Hydraulic turbines, Governing, Working principles and operation of reciprocating and centrifugal pumps, Hydraulic and pneumatic Circuit devices, air cylinders and Hydro Pneumatic Systems.<br>
<b>Unit VII: Steam Boilers, Nozzlers and Turbines</b><br>
Properties of Steam, Working, Performance of Boilers, Steam nozzles, Condition for maximum discharge – steam turbines – classification, Velocity diagrams for single stage impulse turbine and Reaction turbine.<br>

<b>Unit VIII: Refrigeration</b><br>
Methods of refrigeration, Cycles and Analysis - Air, Vapor Compression and vapor absorption refrigeration, refrigeration equipment<br>
<b>Unit IX: Industrial Management and Engineering</b><br>
Work study, Inspection and SQC, Estimation and Costing,– Principles and function of management, organization structures, Production and materials management, financial management, entrepreneurial development, Marketing and sales, Principles of ISO 9000.<br>
<b>Unit X: Automobile Engineering</b><br>
Automobile Chassis construction, Function of transmission system, Gear boxes, single and multiplate clutches, Function and construction of propeller shaft, Universal Joint, Differential, semi and full floating rear axle, Front and Stub axles, wheel alignment and balancing, steering mechanisms. Braking system - weight transfer during braking, skidding, Hydraulic braking and air pressure braking systems.<br></p>
<div class=" text-center">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:140px'></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
<br>
<b>ANNEXURE II<br>
Number of Questions to be set</b>
<table class="table table-bordered table-hover">
<tr>
	<th>MECHANICAL ENGINEERING UNIT NO</th>
	<th>TOPICS</th>
	<th>MARKS</th>
</tr>

<tr>
	<td>I</td>
	<td>Workshop Technology</td>
	<td>13</td>
</tr>


<tr>
	<td>II</td>
	<td>Welding, Forging, Foundry and Conventions in Drawing</td>
	<td>14</td>
</tr>


<tr>
	<td>III</td>
	<td>Engineering Materials and Solid Mechanics</td>
	<td>12</td>
</tr>


<tr>
	<td>IV</td>
	<td>Design of Machine Elements</td>
	<td>11</td>
</tr>


<tr>
	<td>V</td>
	<td>Thermodynamics</td>
	<td>12</td>
</tr>


<tr>
	<td>VI</td>
	<td>Hydraulic Machines and Pneumatics</td>
	<td>09</td>
</tr>
<tr>
	<td>VII</td>
	<td>Steam Boilers, Nozzles and Turbines</td>
	<td>08</td>
</tr>
<tr>
	<td>VIII</td>
	<td>Refrigeration</td>
	<td>04</td>
</tr>
<tr>
	<td>IX</td>
	<td>Industrial Management and Engineering</td>
	<td>10</td>
</tr>

<tr>
	<td>X</td>
	<td>Automobile Engineering</td>
	<td>07</td>
</tr>
<tr>
	<td colspan="2" >Total</td>
	<td class="text-danger">100</td>
</tr>

</table>
<br>
<b><h2 class="text-center text-success">COMPUTER SCIENCE AND ENGINEERING</h2>
	ANNEXURE I</b><br>
<b>1. Digital Electronics: Logic Families:</b> TTL, ECL, MOS – Logic gates AND,OR,NOT,NOR,NAND and XOR – Boolean Expressions – K-map –Combinational Circuits – Flip-flops – registers – Counters – decoders, multiplexers and semiconductor memories.<br>
<b>2. Microprocessors:</b> 8086 microprocessor – architecture, segmentation concepts – register organization – addressing modes – instruction set – preliminary features of 80286, 80386 and 80486<br>
<b>3. Computer Organization:</b> Functional blocks of CPU – Fixed point, floating point number representations –instructions – addressing modes – stored program concept – instruction execution – memory hierarchy – virtual memory, associative memory – cache memory – I/O organization – methods of data transfer – programmed I/O, DMA, Interrupts – IOP<br>
<b>4. C and Data Structures:</b> Data types, storage classes, operators and expressions – control statements – functions, parameter passing, Call by value, Call by reference – arrays, strings, pointers, structures, unions – type definitions – pre processor statements – files – Data Structures – Linked Lists – queues and stacks – trees, binary trees – sorting : bubble, selection , insertion, quick and merge sorts -Searching : linear and binary search techniques<br>
<b>5. Computer Networks:</b> OSI reference model , TCP/IP reference model- Classification of networks –Network topologies : Bus, Ring, Star, Mesh, Hybrid – LAN components – Coaxial, twisted pair, optical fiber cables and connectors – repeaters, hubs, switches, NIC – Ethernet, token bus, token ring, inter network packet exchange/sequenced packet exchange – HTTP, FTP, SMTP, Telnet – TCP/IP addressing scheme – IP address classes - sub netting<br>
<b>6. Operating Systems:</b> Windows : advantages, features, hardware requirements, various menus and tool bars – operating system services – process management – CPU scheduling algorithms – deadlocks – memory management – overlays, paging, segmentation, virtual memory, page replacement algorithms – disk scheduling – free space management – disk scheduling algorithms<br>
<b>7. RDBMS:</b> Need of database systems, data independence, Data models, E-R model – structure of relational database – normal Forms : 1st, 2nd and 3rd– SQL – data types, operators, DDL,DML and DCL commands – views, sequences, synonyms, indexes and clusters – PL/SQL – data types, control structures, cursor management, exceptions, functions, triggers, procedures and packages<br>
<b>8. Object Oriented Programming Through C++:</b> Concept of OOPs – classes and objects – Constructors and destructors – arrays, pointers, references, inline functions – function overloading and operator overloading – inheritance – virtual functions – friend functions –this pointer – i/o manipulators – file and i/o functions<br>
<b>9. Java Programming:</b> Java – data types, variables, operators, arrays – Classes and objects – methods – constructors – overloading –inheritance - Visibility mode – packages – interfaces – multithreading – exception handling – applets<br>
<b>10. Internet Programming & ADO.net:</b> Internet fundamentals – HTML, tags, attributes, formatting text –PHP- Loops, Strings, Statements, Arrays, Functions, Databases, Cookies, Sessions, Debugging. ADO.net-Data adapters, Data sets, Connection objects and Command objects.<br>
<div class=" text-center">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:140px'></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
<table class="table table-bordered table-hover">
<tr>
	<th class="col-sm-4">COMPUTER SCIENCE & ENGINEERING<br>UNIT NO</th>
	<th>TOPICS</th>
	<th>MARKS</th>
</tr>
<tr>
	<td>I</td>
	<td>Digital Electronics</td>
	<td>08</td>
</tr>
<tr>
	<td>II</td>
	<td>Microprocessors</td>
	<td>10</td>
</tr>
<tr>
	<td>III</td>
	<td>Computer Organization</td>
	<td>10</td>
</tr>
<tr>
	<td>IV</td>
	<td>C and Data Structures</td>
	<td>10</td>
</tr>
<tr>
	<td>V</td>
	<td>Computer Networks</td>
	<td>10</td>
</tr>
<tr>
	<td>VI</td>
	<td>Operating Systems</td>
	<td>12</td>
</tr>
<tr>
	<td>VII</td>
	<td>RDBMS</td>
	<td>10</td>
</tr>
<tr>
	<td>VIII</td>
	<td>Object Oriented Programming through C++</td>
	<td>10</td>
</tr>
<tr>
	<td>IX</td>
	<td>Java Programming</td>
	<td>10</td>
</tr>

<tr>
	<td>X</td>
	<td>Internet Programming & ADO.net</td>
	<td>10</td>
</tr>
<tr>
	<td colspan="2" >Total</td>
	<td class="text-danger">100</td>
</tr>

</table>
<br>
<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="8409268847"
                     data-ad-format="link"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
<h2 class="text-center text-success">ELECTRONICS AND COMMUNICATION ENGINEERING</h2><br>
<b> ANNEXURE I</b><br>

<b>1. ELECTRONIC DEVICES AND CIRCUITS:</b> Semiconductor diodes – varactor diode – zener diode – Clippers and clampers-Transistors– FETs – UJT (characteristics only) – Power supplies – Rectifiers and Filters – HW, FW and Bridge type – RC , LC and CLC filters – Series and Shunt regulators – Transistor amplifiers – CE,CC and CB configurations – Biasing techniques-RC coupled – Transformer coupled amplifiers Differential amplifiers – Feedback, Power and Tuned amplifiers – Operational amplifiers – characteristics and applications – RC , LC and Crystal oscillators – Astable , Bistable and Monostable Multivibrators using Transistors and 555 timers- Schmitt Trigger – Sweep circuits – Miller and Bootstrap circuits.<br>
<b>2. CIRCUIT THEORY:</b> Mesh current and Node voltage analysis – Crammer’s Rule – Network theorems – Thevenin’s, Norton’s, Maximum Power transfer, Superposition and Reciprocity theorems– Series and Parallel Resonance – Q- factor – Selectivity – Bandwidth – Linear wave shaping circuits. Transmission Lines – Characteristic Impedance –Reflection Coefficient – SWR – Transmission Line losses and Impedance matching.<br>
<b>3. ELECTRONIC MEASURING INSTRUMENTS:</b>
Analog Instruments – Extension of range of Ammeter, Voltmeter and Ohmmeter – FET voltmeter – Differential voltmeter – Digital instruments – Ramp –Dual Slope integration – successive approximation – digital frequency meter-digital LCR meter- CRO – CRT – time base generator – deflection sensitivity – triggered sweep circuits – CRO applications, AF Oscillator – RF Signal generator – AF and RF Power meters – Q meter – Distortion Factor Meter – Digital IC tester<br>
<b>4. INDUSTRIAL ELECTRONICS:</b> Power Electronic Devices- Transducers and Ultrasonics-Industrial Heating and Welding – PLC and Programming-Control Engineering.<br>
<b>5. COMMUNICATION SYSTEMS:</b> Analog – Need for modulation – Types of modulation – AM , FM , PM – Modulation Index – Bandwidth – Power requirements – Transmitters – Low level , High level and SSB types – Receivers – Super heterodyne – AM and FM receivers – characteristics – Sensitivity , Selectivity , Fidelity – IMRR and choice of IF – Wave Propagation – Ground , Sky and Space waves – Properties. Digital – Pulse modulation – PCM , Delta modulation – Data codes – Synchronous and Asynchronous transmission – error detection and correction - digital modulation – ASK ,FSK, PSK and QAM – generation and detection – Multiplexing – TDM , FDM – Multiple Access – TDMA.<br>
<b>6. ADVANCED COMMUNICATION SYSTEMS:</b> Antennas– radiation resistance – beam width – polarization – directivity – efficiency – bandwidth – gain – front to back ratio – folded dipole – arrays – broadside – end fire – Yagi , Log periodic , Turnstile antennas – Parabolic reflectors – beam width, gain and applications. Wave Guides – Rectangular – Dominant mode – Phase and Group velocity – Cut off wavelength - working principle and applications of Magnetron , Klystron ,TWT – Radar – range equation – Pulsed radars – indicators – duplexers – CW radars and MTI radars – Satellite communication – UP link and DOWN link frequencies – types of satellites – satellite on board – earth station systems – satellite applications – Fiber Optic communication – types of fibers – couplers, splices, connectors, switches , optical emitters and detectors – optical repeaters – Wave length Division multiplexing – Mobile Communication – cellular concept – AMPS , GSM , CDMA systems-Fiber Drawing Process and Cabling-Fibre Optic Devices- WDM and Optical Networks-Wireless Communication Systems-Cellular system Design Fundamentals-Multiple Access Techniques- Digital Cellular Mobile Systems- Modern Wireless Communication System.<br>
<b>7. DIGITAL ELECTRONICS:</b> Number systems – Logic gates – Boolean algebra – Adders and Subtractors – Flip-flops – Registers and Counters – Memories – RAM, ROM, Flash ROM, NVROM – D/A converters – binary weighted – R-2R Ladder, A /D Converter - Counter and Successive approximation types.<br>
<b>8. MICROCONTROLLERS AND MICROPROCESSORS:</b> Introduction to 8085 Architecture-Timing Diagrams-Architecture of 8051-Instruction Set of 8051-Programming Concepts of 8051-Hardware Interfacing for 8051- PIC- Microcontrollers-Arm Controllers<br>
<b>9. CONSUMER ELECTRONICS AND ELECTRONIC PRODUCT DESIGN:</b> Recording and Reproduction of Sound using Magnetic and Optical methods – Television Picture elements – scanning and synchronization – blanking and interlacing – composite video signal , flicker –TV receivers – Tuner, IF , Sync separator , deflection circuits , EHT and sound circuits – Color TV – Additive and subtractive mixing – Color Picture tubes – degaussing – types of color TV systems – NTSC , PAL and SECAM – PAL system processing – Cable, Satellite and Digital TV- Electronic Product Design and Development Stages- PCB Design-Hardware Design and Testing-Product Testing-Documentation.<br>
<b>10. DATA COMMUNICATIONS AND COMPUTER NETWORKS:</b> Transmission Media – twisted pair – UTP –STP –Coaxial cable – Optical fibre – comparison – Shannon Capacity theorem – Network Topologies – BUS, STAR , RING – switching – Packet and Message switching – OSI architecture and functions – CSMA , CDMA and token ring – properties and operations – Wireless LAN – Blue tooth technology – WAN architecture – Packet transmission – ARPA Net – ISP and ISDN architectures – WAN Protocols – X .25 , Frame Relay , ATM ,TCP / IP features and comparison –Ports and Sockets – Domain Name System – POP and SMTP server – File transfer protocol – Proxy server and Web server architecture.<br>
<b>11.EMBEDDED SYSTEMS AND DIGITAL CIRCUIT DESIGN THROUGH VERILOG HDL:</b> Introduction to Embedded Systems-Basics of VLSI-VLSI Design using Verilog HDL-Verilog HDL Modelling-Modelling of Combinational and Sequential Logic Circuits-System Design Concepts-Functional Verification of Verilog Modules.<br>
<b>12.PROGRAMMING IN C AND COMPUTER HARDWARE:</b> C Programming Basics-Decisions and Loop Control Statements-Arrays and Strings-Functions and Pointers-Structures,Unions and Preprocessor Derivatives-Mother Board-Computer Peripherals-Computer Accessories-Windows OS-PC assembly and Software Installation.<br>
<br><b>ANNEXURE II</b><br>
Number of Questions to be Set Unit Wise<br>

<br>
<table class="table table-bordered table-hover ">
<tr>
	<th class="col-sm-4">ELECTRONICS AND COMMUNICATION ENGINEERING<br>UNIT NO</th>
	<th>TOPICS</th>
	<th>MARKS</th>
</tr>
<tr>
	<td>I</td>
	<td>Electronic devises and circuts</td>
	<td>15</td>
</tr>
<tr>
	<td>II</td>
	<td>Circut theory</td>
	<td>08</td>
</tr>
<tr>
	<td>III</td>
	<td>Electronic measuring instruments</td>
	<td>06</td>
</tr>
<tr>
	<td>IV</td>
	<td>Industrial Electronics</td>
	<td>05</td>
</tr>
<tr>
	<td>V</td>
	<td>Communication systems</td>
	<td>10</td>
</tr>
<tr>
	<td>VI</td>
	<td>Advance comminication systems</td>
	<td>15</td>
</tr>
<tr>
	<td>VII</td>
	<td>Digital Electronics</td>
	<td>10</td>
</tr>
<tr>
	<td>VIII</td>
	<td>Microcontrollers and Microprocessors</td>
	<td>10</td>
</tr>
<tr>
	<td>IX</td>
	<td> Consumer Electronics and Electronic Product Design</td>
	<td>05</td>
</tr>

<tr>
	<td>X</td>
	<td> Data Communications</td>
	<td>07</td>
</tr>
<tr>
	<td colspan="2" >Total</td>
	<td class="text-danger">100</td>
</tr>

</table>

<b><h2 class="text-center text-success">ELECTRICAL & ELECTRONICS ENGINEERING</h2><br>
 ANNEXURE I</b><br><br>

<b>UNIT I:- BASIC ELECTRICAL ENGINEERING</b><br>
Ohms and Kirchhoff’s Laws, star/delta transformation, Network theorems, Power and Energy, Heating effects of Electric current, Magnetic effects, Electromagnetic Induction, Electrostatics, Types of Electrical Engineering Materials – Conducting, Semi-conducting, Magnetic, Insulating, Di-electric – Special Purpose Materials-Properties and Uses.<br><br>

<b>UNIT II:- D.C. MACHINES, BATTERIES & MEASURING INSTRUMENTS:</b><br>
<b>D.C. Generators:</b> Construction, Operation, types, EMF Equation, Windings, Characteristics, Efficiency and Parallel operation. 
<br>DC Motors:</b> Principle of operation, Back EMF, Torque Equation, Types, armature reaction. Characteristics, Starters, Speed Control, Losses, Efficiency and Testing, Battries.<br> 
<b>Measuring Instruments:</b> Classification, Principle of Operation of moving Coil, Moving Iron, Dynamometer type, Induction type meters, Instrument Transformers, Induction type Energy meter, M.D. Indicator, TRI VECTOR Meter, PF meter, Frequency meter, Measurement of Resistance, Transducers and Sensors – Types, Thermistor, Thermocouple, Pressure Transducers and Strain gauges-Megger.<br><br>

<b>UNIT III:- A.C. CIRCUITS AND TRANSFORMERS:</b><br>
<b>A.C. Circuits:</b> Fundamentals, Series and parallel R-L-C Circuits, Resonant circuits, Polyphase Circuits, Measurement of power by 2 Wattmeters.<br>
<b>Transformer:</b> Single-phase Transformer, Construction, Operation, Equivalent circuit, regulation, efficiency, Testing and Parallel operation, Accessories of Transformers and Cooling. Three-phase Transformers, Auto-Transformers.<br><br>
<b>UNIT IV:- A.C. MACHINES</b><br>
<b>Alternators:</b> Construction, Operation, EMF equation, regulation, testing and parallel operation. 
Synchronous Motors: Operation and performance, effects of Excitation, ‘V’-Curve and inverted ‘V’- Curve, methods of Starting and uses.<br>
<b>Three-Phase induction Motors:</b>Construction, Principle of Operation, Torque Equation, Slip-torque characteristics, losses, efficiency, speed control, starters, double-cage motor.<br>
<b>Single-phase Induction Motor:</b> Types, Principle of operation, applications. Single-phase commutator motors: Types, Principle of operation and applications-Stepper Motors.<br><br>

<b>UNIT V:-POWER SYSTEM GENERATION & PROTECTION</b><br>
<b>Generating Stations:</b> Working, Components, Comparison of Thermal, Hydel, Nuclear and Gas Power stations. Pollution control, Combined Working, Power Stations auxiliaries, Characteristic Curves and Important Terms, types of tariffs, power factor correction and economy.<br>
<b>Power Systems Protection:</b> Circuit Breakers – Types, Principles of operation and uses, Current Limiting reactors, Relays – Classification, Principle of Operation of Induction type over current relay, Directional and Non directional relays, differential relays and distance relays, Protection of alternators, Transformers, Bus-bars, Transmission lines, Lightening arrestors, neutral grounding.<br><br>
<b>UNIT VI:- TRANSMISSION AND DISTRIBUTION</b><br>
<b>Transmission and distribution:</b> Types of supply systems, Transmission line parameters, inductance and capacitance, performance of short and medium lines, regulation, Ferranti effect, Corona, Basic concepts of HVDC Transmission, Advantage and disadvantages of HVDC Transmission.<br>
Components of lines, supports, conductor spacing, ground clearance and sag, insulators, voltage distribution across the string, string efficiency, methods of improving string efficiency. Earthing and layout of sub-stations. 
Cables – Classification, insulation resistance, specifications. Distribution – Radial and ring distributors, variation of load voltage.<br><br>
<b>UNIT VII: - ELECTRIC TRACTION</b><br>
<b>Electric Traction:</b> Systems of Train Electrification, Speed-time Curves for different services, Schedule speed, Tractive Effort, Specific Energy Consumption, Traction system auxiliaries, Traction motor.<br>
<b>Industrial Drives and Automation:</b> Group and Individual Drives-Load Equalization-Selection & Rating of Motor-AC and DC Drives-Application of Motors-Need of Automation- Basics of Control Systems-Open loop and Closed loop Systems- Transfer Function – Controllers-Differential,Integral,Proportional & ID,PID Controllers –PLC-SCADA.<br><br>
<b>UNIT VIII:- ELECTRICAL ESTIMATION</b><br>
<b>Electric Wiring:</b> Tools, Wires, Types of wiring, Accessories, Lamp Circuits, Estimating and costing of domestic, industrial, power, irrigation pump sets, over head lines and ii KV Sub Stations, Rural electrification, departmental tests, earthing, maintenance of electrical machines.<br><br>
<b>UNIT IX: BASIC ELECTRONICS AND DIGITAL ELECTRONICS</b><br>
<b>Semi-Conductor devices:</b> N type & P type,, Zener diode, PNP and NPN Transistors, Transistor configurations, characteristics, power supplies – half and full wave rectifiers, Filters, Zener diode regulation, Special devices – UJT, FET, LED, SCR, Opto Coupler, Photo diode, Photo Transistor, CRO and Timers.<br>
<b>Amplifiers:</b> Types, Principles of operation, Characteristics.<br>
<b>Oscillators:</b> Types, operation and application of each.<br>
<b>Digital Electronics:</b> Different numbering systems, inter Conversions Boolean Algebra, Logic families, performance of AND, OR, NOT, NOR, NAND gates, combinational Logic Circuits, sequential logic circuits, Resistors and Memories, A/D and D/A converters.<br><br>
<b>UNIT X:- POWER ELECTRONICS AND MICRO CONTROLLER</b><br>
<b>Power Electronic Devices:</b> Construction and working of SCR, GTOSCR, DIAC, TRIAC, Volt-ampere characteristics, Triggering of SCR using UJT, Protection.<br>
<b>Converters, AC regulators, Choppers, Inverters and Cycloconverters:</b><br>
Types of Converters, working of AC regulators and Choppers. Types of inverters, Principles of working, Basic principle of working of Cyclo converters. Speed control of D.C. Motors by using converters and choppers, Speed control of induction motor by using AC Voltage regulators – V/F Control, Switched mode power supplies (SMPS), UPS.<br>
<b>Micro Controllers:</b> Architecture of 8051, instruction set of 8051, programming concepts, peripheral ICS – Function, features.<br><br>

<div class=" text-center">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class='adsbygoogle' data-ad-client='ca-pub-7665698555914778' data-ad-slot='5852755247' style='display:inline-block;min-width:300px;max-width:1100px;width:100%;height:140px'></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>

<h3 class="text-center text-success">COMMON TO ALL</h3>
<h2 class="text-success">MATHEMATICS (Common Syllabus) </h2>

 <b>ANNEXURE I</b><br><br>
<b>Unit - I Matrices:</b><br>
<b>Matrices of 3rd order:</b> Types of matrices-Algebra of matrices-Transpose of a matrix-Symmetric, skew symmetric matrices-Minor, cofactor of an element-Determinant of a square matrix-Properties-Laplace’s expansion-singular and non singular matrices-Adjoint and multiplicative inverse of a square matrix-System of linear equations in 3 variables-Solutions by Crammer’s rule, Matrix inversion method,-Gauss-Jordan methods.<br>
<b>Partial Fractions:</b> Resolving a given rational function into partial fractions.<br><br>
<b>Unit –II:</b><br>
<b>Trigonometry:</b> Properties of Trigonometric functions – Ratios of Compound angles, multiple angles, sub multiple angles – Transformations of Products into sum or difference and vice versa – Simple trigonometric equations – Properties of triangles – Inverse Trigonometric functions.<br>
<b>Complex Numbers:</b> Modulus and conjugate, arithmetic operations on complex number—Modulus-Amplitude form (Polar form)-Euler form (exponential form)-Properties- De Movire’s Theorem and its applications.<br><br>
<b>Unit – III : Analytical Geometry</b><br>
Circles-Equation given center and radius-given ends of diameter-General equation-finding center and radius. Standard forms of equations of Parabola, Ellipse and Hyperbola – simple properties.<br><br>
<b>Unit – IV : Differentiation and its Applications</b><br>
Functions and limits – Standard limits – Differentiation from the First Principles – Differentiation of sum, product, quotient of functions, function of function, trigonometric, inverse trigonometric, exponential, logarithmic, Hyperbolic functions, implicit, explicit and parametric functions – Derivative of a function with respect to another function-Second order derivatives –Geometrical applications of the derivative (angle between curves, tangent and normal) – Increasing and decreasing functions – Maxima and Minima (single variable functions) using second order derivative only – Derivative as rate measure -Errors and approximations - Partial Differentiation – Partial derivatives up to second order – Euler’s theorem.<br><br>
<b>Unit – V : Integration and Its Applications</b>
Indefinite Integral – Standard forms – Integration by decomposition of the integrand of trigonometric, algebraic, exponential, logarithmic and Hyperbolic functions – Integration by substitution – Integration of reducible and irreducible quadratic factors – Integration by parts – Definite Integrals and properties, Definite Integral as the limit of a sum – Application of Integration to find areas under plane curves and volumes of Solids of revolution – Mean and RMS value.<br><br>
<b>Unit – VI: Differential Equations</b><br>
Definition of a differential equation-order and degree of a differential equation- formation of differential equations-solution of differential equation of the type first order, first degree, variable-separable, homogeneous equations, exact, linear differential equation of the form 
dy/dx + Py = Q, Bernoulli’s equation, nth order linear differential equation with constant coefficients both homogeneous and non homogeneous and finding the Particular Integrals for the functions , , ,Sin ax, Cos ax.<br><br>
<b>ANNEXURE II</b><br>
<table class="table table-bordered table-hover">
<tr>
	<th class="col-sm-4">Number of Questions to be Set Unit Wise (TOTAL 50)<br>UNIT NO</th>
	<th>TOPICS</th>
	<th>MARKS</th>
</tr>
<tr>
	<td>I</td>
	<td>Matrices</td>
	<td>05</td>
</tr>
<tr>
	<td></td>
	<td>Partial Fractions</td>
	<td>02</td>
</tr>
<tr>
	<td>II</td>
	<td>Trigonometry</td>
	<td>10</td>
</tr>
<tr>
	<td></td>
	<td>Complex numbers</td>
	<td>02</td>
</tr>
<tr>
	<td>III</td>
	<td>Analytical geometry</td>
	<td>06</td>
</tr>
<tr>
	<td>IV</td>
	<td>Differentiation and its applications</td>
	<td>10</td>
</tr>
<tr>
	<td>V</td>
	<td>Integration and its applications</td>
	<td>08</td>
</tr>
<tr>
	<td>VI</td>
	<td>Differential equations</td>
	<td>07</td>
</tr>
<tr>
	<td colspan="2" >Total</td>
	<td class="text-danger">50</td>
</tr>

</table>
<br>
<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="8409268847"
                     data-ad-format="link"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
<h2 class="text-success">PHYSICS (Common Syllabus)</h2>

 <b>ANNEXURE I</b><br>

<b>Unit-1: Units and dimensions:</b><br> Physical quantity-fundamental and derived physical quantities-units-fundamental and derived units-SI units-multiples and sub-multiples in SI units-advantages of SI units-dimensions and dimensional formulae-dimensionless quantities-applications and limitations of dimensional analysis-problems.<br><br>
<b>Unit-2: Elements of vectors:</b><br>
Scalar and vector quantities-examples–graphical representation of a vector-types of vectors-addition and subtraction of vectors-triangle law-parallelogram law and its cases-polygon law-resolution of a vector-unit vectors (i, j, k)-dot product and cross product of two vectors-characteristics of dot and cross products-examples-problems.<br><br>
<b>Unit-3: Kinematics and Friction</b><br>
Equations of motion-acceleration due to gravity-equations of motion under gravity-expressions for maximum height, time of ascent, time of descent, time of flight, velocity on reaching the point of projection-motion of a body projected from the top of a tower-projectile motion-examples-horizontal and oblique projections-expressions for maximum height, time of ascent, time of flight, horizontal range, magnitude and direction of resultant velocity-problems. 
Friction-normal reaction-laws of friction-coefficients of friction-angle of friction-methods of reducing friction-advantages and disadvantages of friction-motion of a body over a smooth inclined plane and a rough inclined plane–problems.<br><br>
<b>Unit-4: Work, Power and Energy</b><br>
Work, power and energy-definitions and units-potential and kinetic energies-examples and expressions-law of conservation of energy-problems-renewable and non-renewable sources of energy (solar, wind, biogas, tidal, nuclear energies etc)<br><br>
<b>Unit-5: Simple harmonic motion and acoustics</b><br>
Definition-conditions of SHM-examples of SHM-expressions for displacement, velocity, acceleration, time period, frequency and phase of SHM-time period of a simple pendulum-seconds pendulum-problems. Sound-musical sound and noise-noise pollution-Effects and methods of control of Noise Pollution-Beats and echoe-problems-Doppler effect – Explanation, cases and Applications Acoustics of buildings-Reverberation-Sabines’ formula-characteristics of a good building-problems.<br><br>
<b>Unit:6: Heat and Thermodynamics</b><br>
Expansion of gases-Boyle’s law-Absolute scale of temperature-charle’s laws-Ideal gas equation-Universal gas constant and its value-SI Units-problems-external work done by a gas-isothermal process-adiabatic process-first law of thermodynamics and its applications to isothermal process and adiabatic process-two specific heats of a gas-relation between Cp and Cv-problems-second law of thermodynamics and its applications.<br><br>
<b>Unit:7 Modern Physics</b><br>
Photoelectric effect – explanation and its laws-applications of photoelectric effect (photocell) – critical angle and total internal reflection – optical fibers - principle, working , types and applications-concept of super conductivity – its properties and applications.<br><br>
<b>ANNEXURE II</b><br>

<table class="table table-bordered table-hover">
<tr>
	<th class="col-sm-4">PHYSICS (TOTAL 25) UNIT NO</th>
	<th>TOPICS</th>
	<th>MARKS</th>
</tr>
<tr>
	<td>I</td>
	<td>Units and Dimensions</td>
	<td>02</td>
</tr>
<tr>
	<td>II</td>
	<td>Elements of Vectors</td>
	<td>02</td>
</tr>
<tr>
	<td>III</td>
	<td>Kinematics and Friction</td>
	<td>06</td>
</tr>
<tr>
	<td>IV</td>
	<td>Work, Power and Energy</td>
	<td>03</td>
</tr>
<tr>
	<td>V</td>
	<td>Simple Harmonic Motion and Acoustics</td>
	<td>05</td>
</tr>
<tr>
	<td>VI</td>
	<td>Heat and Thermodynamics</td>
	<td>05</td>
</tr>
<tr>
	<td>VII</td>
	<td>Modern Physics</td>
	<td>02</td>
</tr>
<tr>
	<td colspan="2" >Total</td>
	<td class="text-danger">25</td>
</tr>

</table>
<br>

<h2 class="text-success">CHEMISTRY (Common Syllabus)</h2>
 <b>ANNEXURE I</b><br>
<b>1. Atomic Structure:</b> Introduction-Fundamental particles – Bohr’s theory – Quantum numbers –– Aufbau principle – Hund’s rule – Pauli’s exclusion principle- Electronic configurations of elements up to atomic number 20, shapes of s,p,d orbitals.<br><br>

<b>2. Chemical Bonding:</b> Introduction – types of chemical bonds – Ionic bond taking example of NaCl and MgO –characteristics of ionic compounds and covalent bond taking example H2, O2 ,N2, HCl characteristics of covalent compounds. 
<b>3. Solutions</b> Introduction solution classification of solutions, solute, solvent, concentration, mole concept– Molarity, –Normality, equivalent weight using acids, bases and salts, numerical problems on Molarity and Normality.<br><br>
<b>4. Acids and Bases</b> Introduction – theories of acids and bases – Arrhinus, Bronsted –Lowry theory – Lewis acid base theory – Ionic product of water - PH and related numerical problems – buffers solutions –Applications.<br><br>
<b>5. Electrochemistry</b> Conductors, insulators, electrolytes - Arrhenius theory of electrolytic dissociation – electrolysis – Faraday’s laws of electrolysis- numerical problems – Galvanic cell – standard electrode potential – electro chemical series –emf and numerical problems on emf of a cell.<br><br>
<b>6. Water Technology</b> Introduction –soft and hard water – causes of hardness – types of hardness –disadvantages of hard water – degree of Hardness, units and its relations– softening methods – permutit process – ion exchange process – qualities of drinking water – municipal treatment of water for drinking purpose.<br><br>
<b>7. Corrosion</b> Introduction - factors influencing corrosion - electrochemical theory of corrosion- composition cell, stress cell and concentration cells– rusting of iron and its mechanism – prevention of corrosion by a) coating methods, b) cathodic protection (sacrificial and impressive voltage methods).<br><br>
<b>8. Polymers</b> Introduction – polymerisation – types of polymerisation – addition , condensation and co-polymerisation with examples – plastics – types of plastics – advantages of plastics over traditional materials – Disadvantages of using 
plastics ,thermo plastics and thermo stetting plastics– differences between thermo plastics and thermo stetting plastics- 
preparation and uses of the following plastics : 1. Polythene 2. PVC 3. Teflon 4. Polystyrene 5.Urea formaldehyde – 
Rubber – natural rubber – processing from latex –Vulcanization – Elastomers – Buna-s, Neoprene rubber and their uses.<br><br>
<b>9. Fuels</b> Definition and classification of fuels based on physical state and occurrence – characteristics of good fuel - Extraction and Refining of petroleum - composition and uses of gaseous fuels. A) water gas b) producer gas c) natural gas d) coal gas e) bio gas f) acetylene <br><br>
<b>10. Environmental chemistry</b> Introduction – environment –understand the terms lithosphere, hydrosphere, atmosphere bio sphere, biotic component, energy component pollutant, receptor, sink, particulate, DO, BOD, Threshold limit value, COD- Air pollution - causes-Effects – acid rain, green house effect –ozone depletion – control of Air pollution – Water pollution – causes – effects – control measures.<br><br> 

<b>ANNEXURE II</b><br>
<table class="table table-bordered table-hover">
<tr>
	<th class="col-sm-4">CHEMISTRY (TOTAL 25) UNIT NO</th>
	<th>TOPICS</th>
	<th>MARKS</th>
</tr>
<tr>
	<td>I</td>
	<td>Atomic Structure</td>
	<td>03</td>
</tr>
<tr>
	<td>II</td>
	<td>Chemical Bonding</td>
	<td>02</td>
</tr>
<tr>
	<td>III</td>
	<td>Solutions</td>
	<td>03</td>
</tr>
<tr>
	<td>IV</td>
	<td>Acids and Bases</td>
	<td>02</td>
</tr>
<tr>
	<td>V</td>
	<td>Electrochemistry</td>
	<td>04</td>
</tr>
<tr>
	<td>VI</td>
	<td>Water Technology</td>
	<td>03</td>
</tr>
<tr>
	<td>VII</td>
	<td>Corrosion</td>
	<td>02</td>
</tr>
<tr>
	<td>VIII</td>
	<td>Polymers</td>
	<td>03</td>
</tr>
<tr>
	<td>IX</td>
	<td>Fuels</td>
	<td>01</td>
</tr>

<tr>
	<td>X</td>
	<td>Environmental Chemistry</td>
	<td>02</td>
</tr>
<tr>
	<td colspan="2" >Total</td>
	<td class="text-danger">25</td>
</tr>

</table>

<div class="text-center" '>
<h3><a href='http://www.neetgov.in/users/sign_up'>ECET 2017 ONLINE MOCK TEST REGISTRATIONS CLICK HERE</a><a href='https://1.bp.blogspot.com/-kuTiNgzcalM/VEZ2z310L5I/AAAAAAAAAGM/wHucEgI8Uc8IfVsO_xvDb_gm0mGS58swQCPcB/s1600/new.gif' imageanchor='1' style='margin-left: 1em; margin-right: 1em;'><img border='0' src='https://1.bp.blogspot.com/-kuTiNgzcalM/VEZ2z310L5I/AAAAAAAAAGM/wHucEgI8Uc8IfVsO_xvDb_gm0mGS58swQCPcB/s1600/new.gif'/></a></h3></div>

</div>
</div>