<% content_for :title, "ECET QUESTION PAPERS AND KEYS 2017" %>
<% content_for :description, "ECET QUESTION PAPERS AND KEYS 2017"%>

<script type="text/javascript">
	var blink_speed = 500;
var t = setInterval(function () {
    var ele = document.getElementById('blinker');
    ele.style.visibility = (ele.style.visibility == 'hidden' ? '' : 'hidden');
}, blink_speed);

</script>
 <div class="container text-justify" style="padding-left:13%px;padding-right:13%px;">

 <div class="panel" style="padding-left: 8%; padding-right: 8%; padding-top:5%; padding-bottom: 5%">

<br>
<div class="social-share">
    <h4>Share on</h4>
    
            <a class="btn btn-info" href="https://twitter.com/intent/tweet?text=http://www.neetgov.in/ecet-question-papers-keys" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-twitter"></i><span> Twitter</span></a>
       
            <a class="btn btn-success" href="https://www.facebook.com/sharer/sharer.php?u=http://www.neetgov.in/ecet-question-papers-keys& t=ECET QUESTION PAPERS AND KEYS 2017" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-facebook"></i><span> Facebook</span></a>

            <a class="btn btn-danger" href="https://plus.google.com/share?url=http://www.neetgov.in/ecet-question-papers-keys"  class="google-plus" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-google-plus"></i><span> Google+</span></a>

            <a class="btn btn-success" href="whatsapp://send?text=http://www.neetgov.in/ecet-question-papers-keys" class="whatsapp" title="Share on WhatsApp" data-action="share/whatsapp/share" target='_blank'><i class="fa fa-whatsapp"></i><span> Whatsapp</span></a>
</div>
<!-- /.social-share -->
<br><br>

<div class="text-center" '>
<h1>AP ECET 2017 QUESTIONS PAPERS</h1>
<h3><a href='http://www.neetgov.in/users/sign_up'>ECET 2017 ONLINE MOCK TEST REGISTRATIONS CLICK HERE</a><a href='https://1.bp.blogspot.com/-kuTiNgzcalM/VEZ2z310L5I/AAAAAAAAAGM/wHucEgI8Uc8IfVsO_xvDb_gm0mGS58swQCPcB/s1600/new.gif' imageanchor='1' style='margin-left: 1em; margin-right: 1em;'><img border='0' src='https://1.bp.blogspot.com/-kuTiNgzcalM/VEZ2z310L5I/AAAAAAAAAGM/wHucEgI8Uc8IfVsO_xvDb_gm0mGS58swQCPcB/s1600/new.gif'/></a></h3></div>
<br>

	
  <div class="text-justify">


<h3><p><b id="blinker" class="text-danger">
  IMPORTANT NOTICE:</b> <br><br>The students can download the question papers and Preliminary Keys from 2.00 pm onwards on 4.5.2017. The response sheets (answer papers) also can be downloaded by the students. Any objections on Preliminary keys shall be submitted only in the format given to the mail apecet2017keyobjections@gmail.com on or before 6.5.2017 5.00 pm.</p>
</h3><br>
<div class="text-center">
 
<div class="row">
<b>
<a href="http://sche.ap.gov.in/ECET/ECET/ECET_EXAM_PAPER.aspx">Download Question papers</a></b><br>
<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- school9edu_main_Blog1_1x1_as -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7665698555914778"
                         data-ad-slot="9074553645"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

<b><a href="http://sche.ap.gov.in/ECET/ECET/ECET_KEY.aspx">Download Preliminary Keys</a></b><br>
<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- school9edu_main_Blog1_1x1_as -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7665698555914778"
                         data-ad-slot="9074553645"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
<b><a href="http://sche.ap.gov.in/ECET/PDF/APECET_ObjectionsFormat.pdf">Objections Format</a></b>

</div>
<br><br><hr>
<h3><a href="ap-apsbtet-results">AP SBTET Results 2017 | SBTET Diploma Results C16, C14, C09 & ER-91 Pharmacy March/April 2017</a></h3>
<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- school9edu_main_Blog1_1x1_as -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7665698555914778"
                         data-ad-slot="9074553645"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
 <h3><a href="ts-tssbtet-results">TS SBTET Results 2017 | SBTET Diploma Results C16, C14, C09 & ER-91 Pharmacy March/April 2017</a></h3><br>
  </div>
  </div>
  </div>
  </div>
