<% content_for :title, "TN SSLC Results 2017@ Manabadi | tnresults.nic.in" %>
<% content_for :description, "TN SSLC Results 2017 on 19 May 2017 Check Here tnresults.nic.in"%>
<% content_for :time, "2017-05-17T15:50:00+05:30" %>

<style type="text/css">
    #box {
border: 2px double #000;
outline-offset: -9px;
}
input[type=text] {
   
    background-color:#87CEFA;
    color: black;
}
</style>

<script>
var myVar;
function myFunction() {
    document.getElementById('demo').innerHTML="Results Available"
    window.open("http://tnresults.nic.in/ssma.htm");
    myVar=setInterval(time, 3000);
    function time(){
        location.reload()
    }
    
}
</script>

 <div class="container text-justify" style="padding-left:13%px;padding-right:13%px;">

 <div class="panel" style="padding-left: 8%; padding-right: 8%; padding-top:5%; padding-bottom: 5%">

<br>
<div class="social-share">
    <h4>Share on</h4>
    
            <a class="btn btn-info" href="https://twitter.com/intent/tweet?text=http://www.neetgov.in/tn-sslc-results" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-twitter"></i><span> Twitter</span></a>
       
            <a class="btn btn-success" href="https://www.facebook.com/sharer/sharer.php?u=http://www.neetgov.in/tn-sslc-results& t=TN-SSLC-RESULTS-2017" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-facebook"></i><span> Facebook</span></a>

            <a class="btn btn-danger" href="https://plus.google.com/share?url=http://www.neetgov.in/tn-sslc-results"  class="google-plus" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-google-plus"></i><span> Google+</span></a>

            <a class="btn btn-success" href="whatsapp://send?text=http://www.neetgov.in/tn-sslc-results" class="whatsapp" title="Share on WhatsApp" data-action="share/whatsapp/share" target='_blank'><i class="fa fa-whatsapp"></i><span> Whatsapp</span></a>
</div>
<!-- /.social-share -->
<br><br>


<div class="text-center">
<h1>Tamil Nadu SSLC Results 2017 | TN SSLC Results 2017 @ tnresults.nic.in</h1>
</div>


<p>TN SSLC Results 2017  Directorate of Government Examinations, Tamil Nadu (DGE TN) Board has successfully conducted the Secondary School Leaving Certificate examinations SSCL 2017 to the students who are staying in the Tamil nadu and nearly 6 lakh students have appeared for the exam. Tamil Nadu board is one of the biggest boards of the country. Also, the board is affiliated to the government of Tamil Nadu, India and conducts both secondary and senior secondary examination. TNBSE was formed by merging the two existing separate boards, Board of Secondary Education and Board of Higher Secondary Examination.
<br><br>
Tamil Nadu SSLC March 2017 Examination Results expected on 19th May 2017 at 10:00 Hrs. The results will be published in the official website of Tamil Nadu school education department and the results website of Directorate of Government Examinations, Government of Tamil Nadu.</p><br>

<div id="box" class="text-center"><br>
<h3 class="text-center">TN SSLC RESULTS 2017</h3><hr style="height:1px;border:none;color:#333;background-color:#333";>
<p class="text-center text-danger"><b><span id="demo"></span></b></p>
<span ><b>Enter TN SSLC-2017 Hall Ticket No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="hallticket"></b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="myFunction()">Get Results</button></span>
<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- school9edu_main_Blog1_1x1_as -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7665698555914778"
                         data-ad-slot="9074553645"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>

 </div>
 <br>

</table><br>
<h3 class="text-center text-success">Tamil Nadu SSLC Results 2017 | TN SSLC Name Wise Results 2017 @ tnresults.nic.in </h3>
<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="8409268847"
                     data-ad-format="link"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
<br>
<p>Tamil Nadu SSLC Has announce the TN SSLC Results 2017 on 19th May 2017. Candidates can check their SSLC 2017 Result on Official Website such as tnresults.nic.in. To check TN SSLC Result, candidates will have to login with their registration number/roll number. The tnsslc result 2017 will be declare will be Soon on May 19th 2017 for all applicants who have appeared in the TN SSLC Results 2017.</p>
<br>

<br>
<div class="text-center">	
<h2>TN SSLC Results 2017 Information</h2>
<style>


table, td, th {
    border: 2px solid black;
}
td {
	width:10%;
}
</style>
<table class="text-center table table-borderd">
	<tr>
		<td>Organization / Board</td>
		<td>Directorate of Government Examinations Tamil nadu</td>
	</tr>
	<tr>
		<td>Category</td>
		<td>Tamil Nadu SSLC March 2017 Examination Results</td>
	</tr>

	<tr>
		<td>Status</td>
		<td>Tamil Nadu SSLC March 2017 (Not Yet Released) </td>
	</tr>
	<tr>
		<td>Official Website</td>
		<td>dge.tn.gov.in</td>
	</tr>

</table>
</div>

<!-- <p><b>AP POLYCET</b> Entrance exam results are declared at polycetap.nic.in. Results AP POLYCET 2017 Declared Will Be soon Today evening 5:30pm (08-05-2017) stay tune with us get your Polycet results 2017</p> -->
<h4 class="text-center">Check Out Your  Tamil Nadu SSLC March 2017 Results Below Link :</h4>

<h4 class="text-center">
<!-- <a href="https://polycetts.nic.in/" target="_blank">AP POLYCET 2017 RESULTS</a></h4> -->
<a href="http://tnresults.nic.in/" target="_blank">Tamil Nadu SSLC Result 2017</a>
</h4>

<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- school9edu_main_Blog1_1x1_as -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7665698555914778"
                         data-ad-slot="9074553645"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
<!-- <h4 class="text-center"> -->
<!-- <a href="https://polycetts.nic.in/" target="_blank">DOWNLOAD AP POLYCET 2017 RANK CARDS</a></h4> -->
<!-- <a href="#" target="_blank">DOWNLOAD AP POLYCET 2017 RANK CARDS</a> -->
<!-- </h4> -->
<br><b>
<h4>Steps to check the TN SSLC March 2017 Results: –</h4><br>
<ol>
<li>Go to the official website for TN SSLC Results 2017 (dge.tn.gov.in) or above Provided Links.</li>

<li>Click on the link for TN SSLC Results 2017.</li>

<li>Enter your details/ hall ticket number in the fields provided.</li>

<li>Download Results and Take Print Out For Further Use.</li>
</ol></b>
<br>
<br><br>
<div class="text-success">
<h5>

<ul>
    <li>Tamil Nadu SSLC Results 2017</li><br>
    <li>TN SSLC Result 2017</li><br>
    <li>SSLC TN Results 2017</li><br>
    <li>TN DGE Results 2017</li><br>
    <li>TamilNadu SSLC Results 2017</li><br>
</ul>
</h5>

</div>
</div>

</div>