<% content_for :title, "TS ECET 2017 RESULTS @ Manabadi | ecet.tsche.ac.in" %>
<% content_for :description, "TS ECET 2017 RESULTS @ Manabadi | ecet.tsche.ac.in"%>
<% content_for :time, "2017-05-15T10:50:00+05:30" %>

<style type="text/css">
    #box {
border: 2px double #000;
outline-offset: -9px;
}
input[type=text] {
   
    background-color:#87CEFA;
    color: black;
}
</style>

<script>
var myVar;
function myFunction() {
    document.getElementById('demo').innerHTML="RESULTS AVAILABLE ARE UPDATING"
    // window.open("http://ecet.tsche.ac.in/RankCard/DownloadRankCard.aspx");
    myVar=setInterval(time, 3000);
    function time(){
        location.reload()
    }
    
}
</script>

 <div class="container text-justify" style="padding-left:13%px;padding-right:13%px;">

 <div class="panel" style="padding-left: 8%; padding-right: 8%; padding-top:5%; padding-bottom: 5%">

<br>
<div class="social-share">
    <h4>Share on</h4>
    
            <a class="btn btn-info" href="https://twitter.com/intent/tweet?text=http://www.neetgov.in/ts-ecet-results" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-twitter"></i><span> Twitter</span></a>
       
            <a class="btn btn-success" href="https://www.facebook.com/sharer/sharer.php?u=http://www.neetgov.in/ts-ecet-results& t=TS-ECET-RESULTS-2017" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-facebook"></i><span> Facebook</span></a>

            <a class="btn btn-danger" href="https://plus.google.com/share?url=http://www.neetgov.in/ts-ecet-results"  class="google-plus" onclick='window.open(this.href,"   sharer"   ,"   toolbar=0,status=0,width=626,height=436"   );   return false;' rel='nofollow'><i class="fa fa-google-plus"></i><span> Google+</span></a>

            <a class="btn btn-success" href="whatsapp://send?text=http://www.neetgov.in/ts-ecet-results" class="whatsapp" title="Share on WhatsApp" data-action="share/whatsapp/share" target='_blank'><i class="fa fa-whatsapp"></i><span> Whatsapp</span></a>
</div>
<!-- /.social-share -->
<br><br>


<div class="text-center">
<h1>TS ECET RESULTS 2017</h1>
</div>
<h2 class="text-success">Are you Searching for the  TS ECET RESULTS 2017? Yes means can check the  TS ECET 2017 Results by Hall ticket.</h2>

<p><b>TS ECET Results 2017 :</b> Engineering Common Entrance Test (TS ECET ) has Conducted by JAWAHARLAL NEHRU TECHNOLOGICAL UNIVERSITY, HYDERABAD on behalf of TSSCHE. Students who are waiting for TS ECET exam results 2017. Today, SCHE TS & JNTU Hyderabad decided to release the Telangana ECET 2017 Results 20 MAY 2017</p><br>

<div id="box" class="text-center"><br>
<h3 class="text-center">TS ECET 2017</h3><hr style="height:1px;border:none;color:#333;background-color:#333";>
<p class="text-center text-danger"><b><span id="demo"></span></b></p>
<span ><b>Enter TSECET-2017 Hall Ticket No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="hallticket"></b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="myFunction()">Get Results</button></span>
<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- school9edu_main_Blog1_1x1_as -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7665698555914778"
                         data-ad-slot="9074553645"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
<!-- <a href="/ap-ecet-results"><h3>AP ECET RESULTS</h3></a> -->
 </div>
 <br>

</table>
<h3 class="text-center">TS ECET 2017 RESULTS @ Manabadi | ecet.tsche.ac.in</h3>
<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-7665698555914778"
                     data-ad-slot="8409268847"
                     data-ad-format="link"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

<p>So, The Students who waiting for Andhra Pradesh ECET 2017 Results will get in few Hours. We requesting to Ecet 2017 Candidates keep visiting this web page and get your Ecet 2017 Exam result and The Students who wants Know Her/she Results can now follow the below steps.</p>
<br>
<h4>Steps to get TS ECET Result 2017</h4>
<ul>
<li>Go to the official website www.sche.ap.gov.in/ECET Find the link “ TSECET Results 2017 ” and 

Click on it. Select your Branch and Enter the Hall Ticket Number.</li>

<li>Click on Get Results Button.</li>

<li>Now, Results will Display on the screen  and</li>

<li>Take a printout for future use.</li>
</ul>
<br>
<!-- <p><b>AP POLYCET</b> Entrance exam results are declared at polycetap.nic.in. Results AP POLYCET 2017 Declared Will Be soon Today evening 5:30pm (08-05-2017) stay tune with us get your Polycet results 2017</p> -->
<h4 class="text-center">Check Below Link For Information TS ECET 2017</h4>

<h4 class="text-center">
<!-- <a href="https://polycetts.nic.in/" target="_blank">AP POLYCET 2017 RESULTS</a></h4> -->
<a href="#" target="_blank">TS ECET 2017 RESULTS</a>
</h4>

<script async sr="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- school9edu_main_Blog1_1x1_as -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-7665698555914778"
                         data-ad-slot="9074553645"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
<!-- <h4 class="text-center"> -->
<!-- <a href="https://polycetts.nic.in/" target="_blank">DOWNLOAD AP POLYCET 2017 RANK CARDS</a></h4> -->
<!-- <a href="#" target="_blank">DOWNLOAD AP POLYCET 2017 RANK CARDS</a> -->
<!-- </h4> -->

<br><br>
<div class="text-success">
<h5>
<ul>
    <li>ts ecet results 2017</li>
    <li>ecet manabadi results 2017</li>
    <li>telangana ecet results 2017</li>
    <li>manabadi ecet results 2017</li>
    <li>ecet 2017 results</li>
    <li>ecet results 2017 ts</li>
    <li>ts ecet rank cards avaliable now</li>
    <li>ts ecet exam results</li>
    <li>ts ecet 2017 results </li>
</ul>
</h5>

</div>
</div>

</div>