<div class="contaner">

<div class="container">
Total Users = <%= @users %><br>

Total tests = <%= @comptests %><br>

<a href="/questions/1/cse">CSE 1</a> <br>
<a href="/questions/1/eee">EEE 1</a><br>
<a href="/questions/1/mechanical">Mechanical 1</a><br>
<a href="/questions/1/civil">Civil 1</a><br>
<a href="/questions/1/ece">ECE 1</a><br>
<!-- <a href="/questions/1/cse">CSE Question</a><br> -->
</div>
</div>