<style type="text/css">
	.rightdiv {
   position: absolute;
   left: 100%;
   top: 0;
}
</style>
<div class="container-fluid">
<div class="row">
<% i = 1 %>
<div class="col-sm-2"></div>
<div class="col-sm-8 text-center">
	
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- school9edu_main_Blog1_1x1_as -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7665698555914778"
     data-ad-slot="9074553645"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
<div class="col-sm-2"></div>
</div>
<br><br>

<div class="row">
<div class="col-sm-3">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- school9edu_main_Blog1_1x1_as -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7665698555914778"
     data-ad-slot="9074553645"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
<div class="col-sm-8">
<% if @comptest.empty? %>
	<div class="alert alert-danger">
      <strong>No Tests Added Yet</strong>
    </div>
		
<% else %>
		<table class="table table-bordered">
			<tr>
				<th class="success">Test</th>
				<th class="success">Date</th>
				<th class="success"></th>
			</tr>
			<!-- <% j = 1 %> -->
			<% ad=@comptest.count/2 %>
			<% ad2=@comptest.count/2 %>
			<% count = @comptest.count %>


		<% @comptest.each do |c| %>
			<tr>
				<td>Exam-<%= i %></td>
				<td><%= c.created_at %></td>
				<td><a href="/exam/<%= c.tc %>/<%= @subject %>" >Start Exam </a></td>
			
			</tr>
			<% if i == ad %>
				
				<tr class="text-center">
				<td colspan="3">
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Responsive Links -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-7665698555914778"
					     data-ad-slot="8409268847"
					     data-ad-format="link"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>

                   </td> 
                   
                </tr>
                <% end %>

			<% i+=1 %>
	<% end %>
		</table>
<% end %>

			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- school9edu_main_Blog1_1x1_as -->
			<ins class="adsbygoogle"
			     style="display:block"
			     data-ad-client="ca-pub-7665698555914778"
			     data-ad-slot="9074553645"
			     data-ad-format="auto"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>

<div class="col-sm-1 rightdiv">

</div>
</div>
</div>
</div>
</div>