<div class="container">
<div style="width:90%; height: 200px"><img src="/images/googleadwordslogo.jpg" width="90%" height="160px" ></div>
<% i = 1 %>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
<% if @comptest.empty? %>
	<div class="alert alert-danger">
      <strong>No Tests Added Yet</strong>
    </div>
		
<% else %>
		<table class="table table-bordered">
			<tr>
				<th class="success">Test</th>
				<th class="success">Date</th>
				<th class="success"></th>
			</tr>
			<!-- <% j = 1 %> -->
			<% ad=@comptest.count/4 %>
			<% ad2=@comptest.count/4 %>
			<% count = @comptest.count %>


		<% @comptest.each do |c| %>
			<tr>
				<td>Exam-<%= i %></td>
				<td><%= c.created_at %></td>
				<td><a href="/exam/<%= c.tc %>/<%= @subject %>" >Start Exam </a></td>
			
			</tr>
			<% if i == ad %>
				<% ad+=ad2 %>
				<tr class="text-center">
				<td colspan="3"
					 <script ></script>
                            <ins class="adsbygoogle"
                                 style="display:inline-block;width:728px;height:90px"
                                 </ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                   </td> 
                   
                </tr>
                <% end %>

			<% i+=1 %>
	<% end %>
		</table>
<% end %>
</div>
</div>
</div>