<style type="text/css">
	.rightdiv {
   position: absolute;
   left: 100%;
   top: 0;
}
</style>
<div class="container-fluid">

<% i = 1 %>
<div class="container">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 728*90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4211720830189288"
     data-ad-slot="9899296254"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="row">
<div class="col-sm-3">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300*600 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-4211720830189288"
     data-ad-slot="8422563053"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="col-sm-6">
<% if @comptest.empty? %>
	<div class="alert alert-danger">
      <strong>No Tests Added Yet</strong>
    </div>
		
<% else %>
		<table class="table table-bordered">
			<tr>
				<th class="success">Test</th>
				<th class="success">Date</th>
				<th class="success"></th>
			</tr>
			<!-- <% j = 1 %> -->
			<% ad=@comptest.count/4 %>
			<% ad2=@comptest.count/4 %>
			<% count = @comptest.count %>


		<% @comptest.each do |c| %>
			<tr>
				<td>Exam-<%= i %></td>
				<td><%= c.created_at %></td>
				<td><a href="/exam/<%= c.tc %>/<%= @subject %>" >Start Exam </a></td>
			
			</tr>
			<% if i == ad %>
				<% ad+=ad2 %>
				<tr class="text-center">
				<td colspan="3">
					 <script ></script>
                            <ins class="adsbygoogle"
                                 style="display:inline-block;width:728px;height:90px"
                                 </ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                   </td> 
                   
                </tr>
                <% end %>

			<% i+=1 %>
	<% end %>
		</table>
<% end %>
<div class="col-sm-3 rightdiv"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300*600 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-4211720830189288"
     data-ad-slot="8422563053"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div>


</div>
</div>
</div>