<div class="container">
<div style="width:90%; height: 200px"><img src="/images/googleadwordslogo.jpg" width="90%" height="200px" ></div>
<% i = 1 %>
<table class="table table-bordered">
	<tr>
		<th>Test</th>
		<th>Date</th>
		<th></th>
	</tr>
<% @comptest.each do |c| %>
	<tr>
		<td>Exam-<%= i %></td>
		<td><%= c.created_at %></td>
		<td><a href="/exam/<%= i %>" >Start Exam </a></td>
	<% i+=1 %>
	
<% end %>

</table>
</div>