<div class="container-fluid">

          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 728*90 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-4211720830189288"
           data-ad-slot="9899296254"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>




<div class="row">
	
<div class="col-sm-3 text-center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 300*600 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:600px"
         data-ad-client="ca-pub-4211720830189288"
         data-ad-slot="8422563053"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

	<div class="col-md-6">

      
<br>
	<div class="panel panel-info">
      <!-- <div class="panel-heading"><a href="/ecet/cse">Computer Science</a><br></div> -->
      <div class="panel-body">
      	<div clsaa="row">
      		<div class="col-md-6">Computer Science Test Exams</div>
      		<div class="col-md-6 text-center"><a href="/ecet/cse">Exam List</a></div>
      </div>
      </div>
    </div>

    <div class="panel panel-info">
      <!-- <div class="panel-heading"><a href="/ecet/ece">Electronics & Communication</a><br></div> -->
      <div class="panel-body">
      	<div clsaa="row">
      		<div class="col-md-6">Electronics & Communication Test Exams</div>
      		<div class="col-md-6 text-center"><a href="/ecet/ece">Exam List</a></div>
      </div>
      </div>
    </div>

	<!-- INSERT ADD HERE -->
			
<!-- fit -->
<ins class="adsbygoogle adslot_1"
     style="display:block"
     data-ad-client="ca-pub-4211720830189288"
     data-ad-slot="5329495850"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>



    <div class="panel panel-info">
      <!-- <div class="panel-heading"><a href="/ecet/eee">Electrical & Electronics</a><br></div> -->
      <div class="panel-body">
      	<div clsaa="row">
      		<div class="col-md-6">Electrical & Electronics Test Exams</div>
      		<div class="col-md-6 text-center"><a href="/ecet/eee">Exam List</a></div>
      </div>
      </div>
    </div>

    <div class="panel panel-info">
      <!-- <div class="panel-heading"><a href="/ecet/mechanical">MECHANICAL</a><br></div> -->
      <div class="panel-body">
      	<div clsaa="row">
      		<div class="col-md-6">MECHANICAL Test Exams</div>
      		<div class="col-md-6 text-center"><a href="/ecet/mechanical">Exam List</a></div>
      </div>
      </div>
    </div>
    

     <div class="panel panel-info">
      <!-- <div class="panel-heading"><a href="/ecet/civil">CIVIL</a><br></div> -->
      <div class="panel-body">
      <div clsaa="row">
      		<div class="col-md-6">Civil Test Exams</div>
      		<div class="col-md-6 text-center"><a href="/ecet/civil">Exam List</a></div>
      </div>
      </div>
    </div>
   </div>

   <div class="col-sm-3" style="margin:0px!important; padding: 0px!important;">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 300*600 -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:300px;height:600px"
           data-ad-client="ca-pub-4211720830189288"
           data-ad-slot="8422563053"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>


</div>
</div>
