<style type="text/css">
  #footer{
    position:fixed;
    height:40px;
    background-color:white;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    padding-bottom: 10px;
    padding-top:7px;
}
</style>
 <%= javascript_include_tag 'application' %>

<div id="footer" style="text-align: center">
          <div class="pull-right">
           DESIGNED BY <a href="https://www.linkedin.com/in/khalidh-sd-96284239/" target="_blank">
            <strong><span style="color: green">Sm</span><span style="color:red"> Khalidh</span></strong></a>
            <!-- <strong>Copyright</strong> -->

            <a href="https://www.linkedin.com/in/khalidh-sd-96284239/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:25px"></i></a>&nbsp;&nbsp;

            <a href="https://www.facebook.com/khalidh.khalid" target="_blank"><i class="fa fa-facebook-square" style="font-size:25px"></i></a>&nbsp;&nbsp;

            <a href="https://plus.google.com/u/0/107659702751121090928" target="_blank"><i class="fa fa-google-plus-square" style="font-size:25px"></i></a>
            <!-- &copy;<%= Time.now.year %> -->
          </div>
         <div class="pull-left"> POWERED BY <a href="http://www.sbtetworld.in" target="_blank"><b>SBTET WORLD</b></div>
          <div style="text-align: center">
          <a href="https://www.linkedin.com/in/sbtetworld-fast-results-79305a141/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:30px"></i></a>&nbsp;&nbsp;&nbsp;

            <a href="https://www.facebook.com/www.sbtetworld.in/" target="_blank"><i class="fa fa-facebook-square" style="font-size:30px"></i></a>&nbsp;&nbsp;&nbsp;

            <!-- <a href="https://plus.google.com/u/0/107659702751121090928" target="_blank"><i class="fa fa-google-plus-square" style="font-size:30px"></i></a> -->
            </div>