<nav class="navbar navbar-default white-bg">
  <div class="container-fluid">
  <div class="col-md-4">
  <a href="/"><%= image_tag("sbtetworld.png")%></a>
   <!--  <a href="/"><img src="http://4.bp.blogspot.com/-Yp__6jsC768/WLqhUlOxbKI/AAAAAAAAGW8/88WLFB8tRko43XjthNQSDnzj8GwgNODSACK4B/s1600/SBTET%2BWORLD1.png" width="60%" alt="SBTETWORLD"></a> -->
    <!-- <img src="images/sbtet.png" width="60%"  alt="SBTETWORLD"> -->
    </a>
  </div>
  
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img border='0' src='https://4.bp.blogspot.com/-_LyKpSzBjyM/VEZ5fCRlKjI/AAAAAAAAAGY/pDPGv_1tT18B8CNzH8hEXLYoA1fYhwXtgCPcB/s1600/4656307_023cf425e1.gif'/>
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=174378936333428";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <div class="fb-like" data-href="https://www.facebook.com/neetgov.in/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#"><h3><b>ONLINE EXAMINATION PORTAL</b><h3></a> -->
    </div>
    


    <ul class="nav navbar-nav navbar-right">
    <li><a href="/"><span class="fa fa-home"></span> Home</a></li>
     <li><a href="/users/edit"><span class="fa fa-user" aria-hidden="true"></span> MyAccount</a></li>
     <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
     
    </ul>
  </div>
</nav>
